body.modo-oscuro {
  // Aplica estilos específicos para el modo oscuro
  background-color: #333;
  color: #fff;
  // Otros estilos para el modo oscuro
}

.kanban-board {
  display: flex;
  flex-direction: column; /* Columnas alineadas verticalmente */
  justify-content: center; /* Centra verticalmente las columnas */
  align-items: center; /* Centra horizontalmente las columnas */
  height: 100vh; /* Establece la altura de las columnas al 100% del viewport */
  margin: 20px; /* Añade un margen exterior */
}

.kanban-column {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%; /* Ancho de las columnas */
  padding: 20px; /* Añade relleno interno */
  margin: 10px; /* Espacio entre columnas */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
}

.kanban-column-title {
  font-size: 18px;
  margin: 10px 0;
}
